root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# 4 space tab indentation for json and mcmeta (also JSON format) files
[*.{json,mcmeta}]
indent_style = tab
indent_size = 4

# Markdown files need
[*.md]
trim_trailing_whitespace = false

# 4 space tab indentation for shell files
[*.sh]
indent_style = tab
indent_size = 4
